altgraph==0.17.4
beautifulsoup4==4.13.4
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
idna==3.10
mutagen==1.47.0
packaging==25.0
pathvalidate==3.3.1
pefile==2023.2.7
pick==1.6.0
pillow==11.3.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.8
pywin32-ctypes==0.2.3
qobuz-dl==0.9.9.10
requests==2.32.4
soupsieve==2.7
tqdm==4.67.1
typing_extensions==4.14.1
urllib3==2.5.0
windows-curses==2.4.1
